<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <style>
    body { background-color: #e9fbe9; text-align: center; padding-top: 100px; }
    .message { font-size: 24px; }
  </style>


</head>
<body>

<header style="background-color: #e6f2e6; padding: 20px; display: flex; justify-content: space-between; align-items: center;">
  <div style="font-size: 32px; font-weight: bold; color: #2e7d32;">
    🌱 EcoKöz
  </div>


  <nav>
    <a href="/" style="margin: 0 20px; text-decoration: none; color: #2e7d32;">Home</a>
      <a href="#about" style="margin: 0 20px; text-decoration: none; color: #2e7d32;" >О проекте</a>
      <a href="#facts" style="margin: 0 20px; text-decoration: none; color: #2e7d32;" >Тут интересно</a>
      <a href="/stats" style="margin: 0 20px; text-decoration: none; color: #2e7d32;">Статистика</a>
    <a href="/report" style="margin: 0 20px; text-decoration: none; color: #2e7d32;">Сообщить о проблеме</a>

  </nav>
</header>

  <div class="message">
    <p>Спасибо за ваше участие в помощи экологии города! 🌱</p>
    <a href="/" class="btn btn-success">Вернуться на главную</a>
  </div>
</body>
</html>
