<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
   <link rel="stylesheet" href="{{ url_for('static', filename='demo.css') }}">
  <style>
    body { background-color: #fefbe9; text-align: center; padding-top: 10px; }
    .message { font-size: 24px; }
  </style>


</head>
<body>

 <header class="main-header">
  <div class="logo-area">
    <img src="{{ url_for('static', filename='logo.png') }}" alt="EcoKöz" class="logo-img">
  </div>

  <input type="checkbox" id="nav-toggle" class="nav-toggle">
  <label for="nav-toggle" class="nav-toggle-label"><span></span></label>


   <nav class="nav-links">
    <a href="/">Home</a>
    <a href="#about">О проекте</a>
    <a href="#facts">Тут интересно</a>
    <a href="/stats">Статистика</a>
       <a href="#contacts">Contacts</a>
    <a href="/report" class="report-button">Сообщить о проблеме</a>
  </nav>
</header>

  <div class="message">
    <p>Спасибо за ваше участие в помощи экологии города! 🌱</p>
    <a href="/" class="btn btn-success">Вернуться на главную</a>
  </div>
</body>
</html>
